In [6]:
import pandas as pd

In [7]:
data=pd.read_csv(r'D:\twitter scrap\hyderabad.csv')

In [8]:
data.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1202834581860143104,1202834581860143104,1575613086000,2019-12-06,11:48:06,India Standard Time,1072146293009477633,maniish_,Manish,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1072146293009477633', 'username'...",NaN
1,1202834580237148165,1202834580237148165,1575613086000,2019-12-06,11:48:06,India Standard Time,927513257946083329,imtiazmadmood,Imtiaz Mahmood,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '927513257946083329', 'username':...",NaN
2,1202834580236931072,1202834580236931072,1575613086000,2019-12-06,11:48:06,India Standard Time,913819036764463109,lalit_kapuria,Lalit Kapuria Maheshwari,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '913819036764463109', 'username':...",NaN
3,1202834574637748225,1202834574637748225,1575613084000,2019-12-06,11:48:04,India Standard Time,4737280758,eknadaanparinda,Harikrishnan Menon,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '4737280758', 'username': 'EkNada...",NaN
4,1202834572137943040,1202834572137943040,1575613084000,2019-12-06,11:48:04,India Standard Time,2922303132,agroiyasajjan,Sajjan Kumar Agroiya,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2922303132', 'username': 'Agroiy...",NaN

In [13]:
data.count()

NameError: name 'username' is not defined

In [15]:
pip install optimus

Collecting optimus
  Downloading https://files.pythonhosted.org/packages/90/99/a6e29c408a1b2157a80a90efbc374155582cb6448c9e462741f841e9d3f5/Optimus-1.1.1.tar.gz (49kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from optimus) (1.12.0)
Collecting click<6.0,>=5.1 (from optimus)
  Downloading https://files.pythonhosted.org/packages/8f/98/14966b6d772fd5fba1eb3bb34a62a7f736d609572493397cdc5715c14514/click-5.1-py2.py3-none-any.whl (65kB)
Collecting watchdog==0.9.0 (from optimus)
  Downloading https://files.pythonhosted.org/packages/bb/e3/5a55d48a29300160779f0a0d2776d17c1b762a2039b36de528b093b87d5b/watchdog-0.9.0.tar.gz (85kB)
Requirement already satisfied: Jinja2>=2.6 in c:\programdata\anaconda3\lib\site-packages (from optimus) (2.10)
Requirement already satisfied: Babel in c:\programdata\anaconda3\lib\site-packages (from optimus) (2.6.0)
Collecting webassets (from optimus)
  Downloading https://files.pythonhosted.org/packages/9a/35/d86c6d3bd31e2e9c8351c8766ef3688c75d56bc5233ed49061e522efc3cc/webassets-0.12.1.tar.gz (179kB)
Collecting rcssmin (from optimus)
  Downloading https://files.pythonhosted.org/packages/e2/5f/852be8aa80d1c24de9b030cdb6532bc7e7a1c8461554f6edbe14335ba890/rcssmin-1.0.6.tar.gz (582kB)
Collecting jsmin (from optimus)
  Downloading https://files.pythonhosted.org/packages/17/73/615d1267a82ed26cd7c124108c3c61169d8e40c36d393883eaee3a561852/jsmin-2.2.2.tar.gz
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from optimus) (0.4.1)
Collecting colorlog (from optimus)
  Downloading https://files.pythonhosted.org/packages/68/4d/892728b0c14547224f0ac40884e722a3d00cb54e7a146aea0b3186806c9e/colorlog-4.0.2-py2.py3-none-any.whl
Requirement already satisfied: PyYAML>=3.10 in c:\programdata\anaconda3\lib\site-packages (from watchdog==0.9.0->optimus) (5.1)
Collecting argh>=0.24.1 (from watchdog==0.9.0->optimus)
  Downloading https://files.pythonhosted.org/packages/06/1c/e667a7126f0b84aaa1c56844337bf0ac12445d1beb9c8a6199a7314944bf/argh-0.26.2-py2.py3-none-any.whl
Collecting pathtools>=0.1.1 (from watchdog==0.9.0->optimus)
  Downloading https://files.pythonhosted.org/packages/e7/7f/470d6fcdf23f9f3518f6b0b76be9df16dcc8630ad409947f8be2eb0ed13a/pathtools-0.1.2.tar.gz
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=2.6->optimus) (1.1.1)
Requirement already satisfied: pytz>=0a in c:\programdata\anaconda3\lib\site-packages (from Babel->optimus) (2018.9)
Building wheels for collected packages: optimus, watchdog, webassets, rcssmin, jsmin, pathtools
  Building wheel for optimus (setup.py): started
  Building wheel for optimus (setup.py): finished with status 'done'
  Stored in directory: C:\Users\r.bhardwaj\AppData\Local\pip\Cache\wheels\24\f2\aa\11f55922914f3227ed26eb3e906c9d4edc201e26ec327a1b3b
  Building wheel for watchdog (setup.py): started
  Building wheel for watchdog (setup.py): finished with status 'done'
  Stored in directory: C:\Users\r.bhardwaj\AppData\Local\pip\Cache\wheels\61\1d\d0\04cfe495619be2095eb8d89a31c42adb4e42b76495bc8f784c
  Building wheel for webassets (setup.py): started
  Building wheel for webassets (setup.py): finished with status 'done'
  Stored in directory: C:\Users\r.bhardwaj\AppData\Local\pip\Cache\wheels\eb\2a\fd\d10453a8c9ee05159da8877d083947e376caeca041988df18e
  Building wheel for rcssmin (setup.py): started
  Building wheel for rcssmin (setup.py): finished with status 'error'
  Complete output from command C:\ProgramData\Anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\R1EA8~1.BHA\\AppData\\Local\\Temp\\pip-install-b2unt57h\\rcssmin\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d C:\Users\R1EA8~1.BHA\AppData\Local\Temp\pip-wheel-ywov0ki0 --python-tag cp37:
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.7
  copying .\rcssmin.py -> build\lib.win-amd64-3.7
  running build_ext
  building '_rcssmin' extension
  error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": https://visualstudio.microsoft.com/downloads/

  ----------------------------------------
  Running setup.py clean for rcssmin
  Building wheel for jsmin (setup.py): started
  Building wheel for jsmin (setup.py): finished with status 'done'
  Stored in directory: C:\Users\r.bhardwaj\AppData\Local\pip\Cache\wheels\64\f4\de\9667d84f759289edf5442220997c6d4334637a6bb2a7b90f73
  Building wheel for pathtools (setup.py): started
  Building wheel for pathtools (setup.py): finished with status 'done'
  Stored in directory: C:\Users\r.bhardwaj\AppData\Local\pip\Cache\wheels\0b\04\79\c3b0c3a0266a3cb4376da31e5bfe8bba0c489246968a68e843
Successfully built optimus watchdog webassets jsmin pathtools
Failed to build rcssmin
Installing collected packages: click, argh, pathtools, watchdog, webassets, rcssmin, jsmin, colorlog, optimus
  Found existing installation: Click 7.0
    Uninstalling Click-7.0:
Note: you may need to restart the kernel to use updated packages.

  Failed building wheel for rcssmin
distributed 1.26.0 has requirement click>=6.6, but you'll have click 5.1 which is incompatible.
conda-verify 3.1.1 has requirement click>=6.7, but you'll have click 5.1 which is incompatible.
Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\click-7.0-py3.7.egg-info\\dependency_links.txt'
Consider using the `--user` option or check the permissions.

In [10]:
list(data)

['id',
 'conversation_id',
 'created_at',
 'date',
 'time',
 'timezone',
 'user_id',
 'username',
 'name',
 'place',
 'tweet',
 'mentions',
 'urls',
 'photos',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'link',
 'retweet',
 'quote_url',
 'video',
 'near',
 'geo',
 'source',
 'user_rt_id',
 'user_rt',
 'retweet_id',
 'reply_to',
 'retweet_date']

In [17]:
x=data[['name','tweet']]

In [20]:
x.isnull()

       name  tweet
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
5     False  False
6     False  False
7     False  False
8     False  False
9     False  False
10    False  False
11    False  False
12    False  False
13    False  False
14    False  False
15    False  False
16    False  False
17    False  False
18    False  False
19    False  False
20    False  False
21    False  False
22    False  False
23    False  False
24    False  False
25    False  False
26    False  False
27    False  False
28    False  False
29    False  False
...     ...    ...
4986  False  False
4987  False  False
4988  False  False
4989  False  False
4990  False  False
4991  False  False
4992  False  False
4993  False  False
4994  False  False
4995  False  False
4996  False  False
4997  False  False
4998  False  False
4999  False  False
5000  False  False
5001  False  False
5002  False  False
5003  False  False
5004  False  False
5005  False  False
5006  False  False
5007  False  False
5008  False  False
5009  False  False
5010  False  False
5011  False  False
5012  False  False
5013  False  False
5014  False  False
5015  False  False

[5016 rows x 2 columns]

In [22]:
x.notnull()

      name  tweet
0     True   True
1     True   True
2     True   True
3     True   True
4     True   True
5     True   True
6     True   True
7     True   True
8     True   True
9     True   True
10    True   True
11    True   True
12    True   True
13    True   True
14    True   True
15    True   True
16    True   True
17    True   True
18    True   True
19    True   True
20    True   True
21    True   True
22    True   True
23    True   True
24    True   True
25    True   True
26    True   True
27    True   True
28    True   True
29    True   True
...    ...    ...
4986  True   True
4987  True   True
4988  True   True
4989  True   True
4990  True   True
4991  True   True
4992  True   True
4993  True   True
4994  True   True
4995  True   True
4996  True   True
4997  True   True
4998  True   True
4999  True   True
5000  True   True
5001  True   True
5002  True   True
5003  True   True
5004  True   True
5005  True   True
5006  True   True
5007  True   True
5008  True   True
5009  True   True
5010  True   True
5011  True   True
5012  True   True
5013  True   True
5014  True   True
5015  True   True

[5016 rows x 2 columns]

In [22]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1202834581860143104,1202834581860143104,1575613086000,2019-12-06,11:48:06,India Standard Time,1072146293009477633,maniish_,Manish,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1072146293009477633', 'username'...",NaN
1,1202834580237148165,1202834580237148165,1575613086000,2019-12-06,11:48:06,India Standard Time,927513257946083329,imtiazmadmood,Imtiaz Mahmood,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '927513257946083329', 'username':...",NaN
2,1202834580236931072,1202834580236931072,1575613086000,2019-12-06,11:48:06,India Standard Time,913819036764463109,lalit_kapuria,Lalit Kapuria Maheshwari,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '913819036764463109', 'username':...",NaN
3,1202834574637748225,1202834574637748225,1575613084000,2019-12-06,11:48:04,India Standard Time,4737280758,eknadaanparinda,Harikrishnan Menon,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '4737280758', 'username': 'EkNada...",NaN
4,1202834572137943040,1202834572137943040,1575613084000,2019-12-06,11:48:04,India Standard Time,2922303132,agroiyasajjan,Sajjan Kumar Agroiya,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2922303132', 'username': 'Agroiy...",NaN
5,1202834570829320192,1202834570829320192,1575613083000,2019-12-06,11:48:03,India Standard Time,719533452375273472,modified_jaya07,जया ✨🚩,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '719533452375273472', 'username':...",NaN
6,1202834569990307842,1202834569990307842,1575613083000,2019-12-06,11:48:03,India Standard Time,3270915283,sherasiyatahir,Tahir Sherasiya,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '3270915283', 'username': 'Sheras...",NaN
7,1202834568551661568,1202834568551661568,1575613083000,2019-12-06,11:48:03,India Standard Time,724798818160508928,bahuvirupak,Prof V Raghotham,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '724798818160508928', 'username':...",NaN
8,1202834566144151553,1202834566144151553,1575613082000,2019-12-06,11:48:02,India Standard Time,714755972,lawyers4liberty,Lawyers for Liberty,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '714755972', 'username': 'lawyers...",NaN
9,1202834565145993218,1202834565145993218,1575613082000,2019-12-06,11:48:02,India Standard Time,811972460560019456,republic,Republic,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '811972460560019456', 'username':...",NaN
10,1202834564462170113,1202834564462170113,1575613082000,2019-12-06,11:48:02,India Standard Time,79765652,parthagubbi,Parthasarathy g,NaN,...,https://twitter.com/sagarikaghose/status/12028...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '79765652', 'username': 'parthagu...",NaN
11,1202834562528636928,1202834562528636928,1575613081000,2019-12-06,11:48:01,India Standard Time,941281926010122240,pavan_mandre,𝐏𝐚𝐯𝐚𝐧Ⓜ️,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '941281926010122240', 'username':...",NaN
12,1202834560477810689,1202834560477810689,1575613081000,2019-12-06,11:48:01,India Standard Time,73588714,sidharathsharma,सिद्धार्थ शर्मा,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '73588714', 'username': 'sidharat...",NaN
13,1202834553007681536,1202834553007681536,1575613079000,2019-12-06,11:47:59,India Standard Time,238165127,simonsturdee,Simon Sturdee,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '238165127', 'username': 'simonst...",NaN
14,1202834552349057024,1202834552349057024,1575613079000,2019-12-06,11:47:59,India Standard Time,1112642134795079681,arminiusss,Arminius🔱,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1112642134795079681', 'username'...",NaN
15,1202834551363559424,1202832712228147201,1575613079000,2019-12-06,11:47:59,India Standard Time,766257607996760064,utsav_dhiman,Utsav Dhiman,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '766257607996760064', 'username':...",NaN
16,1202834545386643456,1202834545386643456,1575613077000,2019-12-06,11:47:57,India Standard Time,1063666894945701888,clickvadodara,Vadodara click,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1063666894945701888', 'username'...",NaN
17,1202834544723820544,1202834544723820544,1575613077000,2019-12-06,11:47:57,India Standard Time,1165699768485470209,kotireddyongly1,KotiReddyonglysrcpsgsvanijyavibhg,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1165699768485470209', 'username'...",NaN
18,1202834541439672321,1202834541439672321,1575613076000,2019-12-06,11:47:56,India Standard Time,784853813224103936,matrixwakeupneo,Mr. Anderson,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '784853813224103936', 'username':...",NaN
19,1202834539392847872,1202834539392847872,1575613076000,2019-12-06,11:47:56,India Standard Time,1275350664,mohitkumar_cj,Mohit Kumar,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1275350664', 'username': 'mohitk...",NaN
20,1202834538839166976,1202821845579206661,1575613076000,2019-12-06,11:47:56,India Standard Time,1180401407146393600,santosh18821537,Santosh,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1180401407146393600', 'username'...",NaN
21,1202834538625302530,1202834538625302530,1575613076000,2019-12-06,11:47:56,India Standard Time,1201764676406693888,sunilcarpente20,Sunil carpenter,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1201764676406693888', 'username'...",NaN
22,1202834534519017472,1202834534519017472,1575613075000,2019-12-06,11:47:55,India Standard Time,1189834304324431872,manojku35615146,Manoj Kumar Shukla,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1189834304324431872', 'username'...",NaN
23,1202834532694544385,1202834532694544385,1575613074000,2019-12-06,11:47:54,India Standard Time,709825021271625728,dhroovy27,MALIK SAAHAB,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '709825021271625728', 'username':...",NaN
24,1202834532656766977,1202834532656766977,1575613074000,2019-12-06,11:47:54,India Standard Time,752161624430145537,bullaa_gunda,Bullaaa,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '752161624430145537', 'username':...",NaN
25,1202834524742119424,1202825937579958272,1575613072000,2019-12-06,11:47:52,India Standard Time,789491545481285633,hanselrohit,Hansel rohit,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '789491545481285633', 'username':...",NaN
26,1202834523957776384,1202834523957776384,1575613072000,2019-12-06,11:47:52,India Standard Time,1188764361315061760,samy_sivan,Samy Sivan,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1188764361315061760', 'username'...",NaN
27,1202834520359071744,1202834520359071744,1575613071000,2019-12-06,11:47:51,India Standard Time,209191392,basant_nayar,Basant Nayar,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '209191392', 'username': 'basant_...",NaN
28,1202834519784452096,1202834519784452096,1575613071000,2019-12-06,11:47:51,India Standard Time,12766012,mandarbehere,Mandar,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '12766012', 'username': 'mandarbe...",NaN
29,1202834516928126976,1202781379961843714,1575613071000,2019-12-06,11:47:51,India Standard Time,208624890,karthik_58,Karthik Raju,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '208624890', 'username': 'Karthik...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986,1202819777003020288,1202819777003020288,1575609556000,2019-12-06,10:49:16,India Standard Time,1012545576049696768,riteshkonly1,रितेश कुमार शर्मा,NaN,...,https://twitter.com/PJkanojia/status/120280699...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1012545576049696768', 'username'...",NaN
4987,1202819775270776832,1202819775270776832,1575609556000,2019-12-06,10:49:16,India Standard Time,461841349,zeenewshindi,Zee News Hindi,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '461841349', 'username': 'ZeeNews...",NaN
4988,1202819771286220806,1202819771286220806,1575609555000,2019-12-06,10:49:15,India Standard Time,1174351730953179136,allthingstelang,All Things Telangana™,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1174351730953179136', 'username'...",NaN
4989,1202819769059037186,1202819769059037186,1575609554000,2019-12-06,10:49:14,India Standard Time,2155441267,sunnymali123,Sunny Mali,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2155441267', 'username': 'SunnyM...",NaN
4990,1202819768975163393,1202804728700125184,1575609554000,2019-12-06,10:49:14,India Standard Time,1721214439,saurabhpanday12,saurabh panday,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1721214439', 'username': 'saurab...",NaN
4991,1202819765166694401,1201392644263301120,1575609553000,2019-12-06,10:49:13,India Standard Time,2752842716,patilvaibhav07,patilvaibhav,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2752842716', 'username': 'patilv...",NaN
4992,1202819764462080000,1202819764462080000,1575609553000,2019-12-06,10:49:13,India Standard Time,1496104148,umeshkumar_praj,umesh kumar prajapati,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1496104148', 'username': 'umeshk...",NaN
4993,1202819762394288128,1202819762394288128,1575609553000,2019-12-06,10:49:13,India Standard Time,18071358,zeenews,Zee News,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '18071358', 'username': 'ZeeNews'}]",NaN
4994,1202819761786089472,1202817486292275201,1575609553000,2019-12-06,10:49:13,India Standard Time,1027791551639052289,quicksilver_27,पं. अभिषेक गौतम Pt.AbhisheK GautaM,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1027791551639052289', 'username'...",NaN
4995,1202819757839286274,1202819493690404865,1575609552000,2019-12-06,10:49:12,India Standard Time,1196343866086936577,aadyadeshmukh30,Aadya,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1196343866086936577', 'username'...",NaN
4996,1202819757344317440,1202819757344317440,1575609552000,2019-12-06,10:49:12,India Standard Time,2956337534,ca_ekansh,एकांश(Ekansh) 🐦,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2956337534', 'username': 'ca_eka...",NaN
4997,1202819756610351105,1202819756610351105,1575609551000,2019-12-06,10:49:11,India Standard Time,3109098913,kundankets,रामभक्त कुंदन 💯% (जिहादियों का बाप),NaN,...,https://twitter.com/kundankets/status/12028157...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '3109098913', 'username': 'kundan...",NaN
4998,1202819755654012929,1202819755654012929,1575609551000,2019-12-06,10:49:11,India Standard Time,2340282530,mahesheka,Manish Mahesheka,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2340282530', 'username': 'mahesh...",NaN
4999,1202819752202100737,1202819752202100737,1575609550000,2019-12-06,10:49:10,India Standard Time,1046302444957761536,phulchul,Politics Hulchul,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1046302444957761536', 'username'...",NaN
5000,1202819748918022145,1202819748918022145,1575609550000,2019-12-06,10:49:10,India Standard Time,838340993455792128,cardiobala,BALASUBRAMANI.N,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '838340993455792128', 'username':...",NaN
5001,1202819742517432320,1202819742517432320,1575609548000,2019-12-06,10:49:08,India Standard Time,147293106,subhash1411,Fight 4 Right,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '147293106', 'username': 'subhash...",NaN
5002,1202819741905113088,1202819741905113088,1575609548000,2019-12-06,10:49:08,India Standard Time,2195910984,roshansaini19,Roshan Saini,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2195910984', 'username': 'Roshan...",NaN
5003,1202819736326696960,1202819736326696960,1575609547000,2019-12-06,10:49:07,India Standard Time,724543587120091137,ramkytranquilla,Ramky Tranquillas,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '724543587120091137', 'username':...",NaN
5004,1202819735953371137,1202776158304997377,1575609547000,2019-12-06,10:49:07,India Standard Time,3157973593,ajitsi1,Ajit Singh,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '3157973593', 'username': 'AjitSi...",NaN
5005,1202819734737051648,1202819734737051648,1575609546000,2019-12-06,10:49:06,India Standard Time,900346289044414464,republic_glitz,R.Glitz,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '900346289044414464', 'username':...",NaN
5006,1202819733642514432,1202819733642514432,1575609546000,2019-12-06,10:49:06,India Standard Time,341517670,gsbhardwaj,Gorv Bhardwaj,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '341517670', 'username': 'GsBhard...",NaN
5007,1202819732279136256,1202819732279136256,1575609546000,2019-12-06,10:49:06,India Standard Time,242273770,rohitpahwarp,Rohit Pahwa,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '242273770', 'username': 'RohitPa...",NaN
5008,1202819728143572993,1202819728143572993,1575609545000,2019-12-06,10:49:05,India Standard Time,1053175820456345600,farazmohammed17,Faraz Mohammed,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1053175820456345600', 'username'...",NaN
5009,1202819725941559296,1202518655986061312,1575609544000,2019-12-06,10:49:04,India Standard Time,1103873620760178688,aswinikumarpad8,Aswini Kumar Padhy,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1103873620760178688', 'username'...",NaN
5010,1202819720828870656,1202819720828870656,1575609543000,2019-12-06,10:49:03,India Standard Time,135070163,krupali5,ramesh bandi,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '135070163', 'username': 'krupali...",NaN
5011,1202819708270997504,1202789023338528770,1575609540000,2019-12-06,10:49:00,India Standard Time,1202457451288657920,annanyagupta6,Annanya Gupta,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1202457451288657920', 'username'...",NaN
5012,1202819708048695296,1202819708048695296,1575609540000,2019-12-06,10:49:00,India Standard Time,501487890,tripathi_neetu,neetu tripathi,NaN,...,https://twitter.com/TimesNow/status/1202783028...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '501487890', 'username': 'tripath...",NaN
5013,1202819705704271873,1202819705704271873,1575609539000,2019-12-06,10:48:59,India Standard Time,14182050,pinkvilla,Pinkvilla,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '14182050', 'username': 'pinkvill...",NaN
5014,1202819701975334912,1202819701975334912,1575609538000,2019-12-06,10:48:58,India Standard Time,1200282410954289152,iehyderabad,Express Hyderabad,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1200282410954289152', 'username'...",NaN
5015,1202819697420513280,1202819697420513280,1575609537000,2019-12-06,10:48:57,India Standard Time,120095429,witty_ravi,Raviteja Bhavirisetty,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '120095429', 'username': 'witty_r...",NaN

In [13]:
## Total count of username in a file
data['username'].count()

5016

In [26]:
## find username whose name is manish
data['username'][data['name']=='Manish']

0            maniish_
2351    crypto_manish
Name: username, dtype: object

In [41]:
## replace nan value with 0 
data.fillna(0, inplace=True)

In [38]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1202834581860143104,1202834581860143104,1575613086000,2019-12-06,11:48:06,India Standard Time,1072146293009477633,maniish_,Manish,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1072146293009477633', 'username'...",0.0
1,1202834580237148165,1202834580237148165,1575613086000,2019-12-06,11:48:06,India Standard Time,927513257946083329,imtiazmadmood,Imtiaz Mahmood,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '927513257946083329', 'username':...",0.0
2,1202834580236931072,1202834580236931072,1575613086000,2019-12-06,11:48:06,India Standard Time,913819036764463109,lalit_kapuria,Lalit Kapuria Maheshwari,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '913819036764463109', 'username':...",0.0
3,1202834574637748225,1202834574637748225,1575613084000,2019-12-06,11:48:04,India Standard Time,4737280758,eknadaanparinda,Harikrishnan Menon,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '4737280758', 'username': 'EkNada...",0.0
4,1202834572137943040,1202834572137943040,1575613084000,2019-12-06,11:48:04,India Standard Time,2922303132,agroiyasajjan,Sajjan Kumar Agroiya,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2922303132', 'username': 'Agroiy...",0.0
5,1202834570829320192,1202834570829320192,1575613083000,2019-12-06,11:48:03,India Standard Time,719533452375273472,modified_jaya07,जया ✨🚩,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '719533452375273472', 'username':...",0.0
6,1202834569990307842,1202834569990307842,1575613083000,2019-12-06,11:48:03,India Standard Time,3270915283,sherasiyatahir,Tahir Sherasiya,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '3270915283', 'username': 'Sheras...",0.0
7,1202834568551661568,1202834568551661568,1575613083000,2019-12-06,11:48:03,India Standard Time,724798818160508928,bahuvirupak,Prof V Raghotham,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '724798818160508928', 'username':...",0.0
8,1202834566144151553,1202834566144151553,1575613082000,2019-12-06,11:48:02,India Standard Time,714755972,lawyers4liberty,Lawyers for Liberty,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '714755972', 'username': 'lawyers...",0.0
9,1202834565145993218,1202834565145993218,1575613082000,2019-12-06,11:48:02,India Standard Time,811972460560019456,republic,Republic,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '811972460560019456', 'username':...",0.0
10,1202834564462170113,1202834564462170113,1575613082000,2019-12-06,11:48:02,India Standard Time,79765652,parthagubbi,Parthasarathy g,0,...,https://twitter.com/sagarikaghose/status/12028...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '79765652', 'username': 'parthagu...",0.0
11,1202834562528636928,1202834562528636928,1575613081000,2019-12-06,11:48:01,India Standard Time,941281926010122240,pavan_mandre,𝐏𝐚𝐯𝐚𝐧Ⓜ️,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '941281926010122240', 'username':...",0.0
12,1202834560477810689,1202834560477810689,1575613081000,2019-12-06,11:48:01,India Standard Time,73588714,sidharathsharma,सिद्धार्थ शर्मा,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '73588714', 'username': 'sidharat...",0.0
13,1202834553007681536,1202834553007681536,1575613079000,2019-12-06,11:47:59,India Standard Time,238165127,simonsturdee,Simon Sturdee,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '238165127', 'username': 'simonst...",0.0
14,1202834552349057024,1202834552349057024,1575613079000,2019-12-06,11:47:59,India Standard Time,1112642134795079681,arminiusss,Arminius🔱,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1112642134795079681', 'username'...",0.0
15,1202834551363559424,1202832712228147201,1575613079000,2019-12-06,11:47:59,India Standard Time,766257607996760064,utsav_dhiman,Utsav Dhiman,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '766257607996760064', 'username':...",0.0
16,1202834545386643456,1202834545386643456,1575613077000,2019-12-06,11:47:57,India Standard Time,1063666894945701888,clickvadodara,Vadodara click,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1063666894945701888', 'username'...",0.0
17,1202834544723820544,1202834544723820544,1575613077000,2019-12-06,11:47:57,India Standard Time,1165699768485470209,kotireddyongly1,KotiReddyonglysrcpsgsvanijyavibhg,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1165699768485470209', 'username'...",0.0
18,1202834541439672321,1202834541439672321,1575613076000,2019-12-06,11:47:56,India Standard Time,784853813224103936,matrixwakeupneo,Mr. Anderson,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '784853813224103936', 'username':...",0.0
19,1202834539392847872,1202834539392847872,1575613076000,2019-12-06,11:47:56,India Standard Time,1275350664,mohitkumar_cj,Mohit Kumar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1275350664', 'username': 'mohitk...",0.0
20,1202834538839166976,1202821845579206661,1575613076000,2019-12-06,11:47:56,India Standard Time,1180401407146393600,santosh18821537,Santosh,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1180401407146393600', 'username'...",0.0
21,1202834538625302530,1202834538625302530,1575613076000,2019-12-06,11:47:56,India Standard Time,1201764676406693888,sunilcarpente20,Sunil carpenter,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1201764676406693888', 'username'...",0.0
22,1202834534519017472,1202834534519017472,1575613075000,2019-12-06,11:47:55,India Standard Time,1189834304324431872,manojku35615146,Manoj Kumar Shukla,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1189834304324431872', 'username'...",0.0
23,1202834532694544385,1202834532694544385,1575613074000,2019-12-06,11:47:54,India Standard Time,709825021271625728,dhroovy27,MALIK SAAHAB,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '709825021271625728', 'username':...",0.0
24,1202834532656766977,1202834532656766977,1575613074000,2019-12-06,11:47:54,India Standard Time,752161624430145537,bullaa_gunda,Bullaaa,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '752161624430145537', 'username':...",0.0
25,1202834524742119424,1202825937579958272,1575613072000,2019-12-06,11:47:52,India Standard Time,789491545481285633,hanselrohit,Hansel rohit,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '789491545481285633', 'username':...",0.0
26,1202834523957776384,1202834523957776384,1575613072000,2019-12-06,11:47:52,India Standard Time,1188764361315061760,samy_sivan,Samy Sivan,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1188764361315061760', 'username'...",0.0
27,1202834520359071744,1202834520359071744,1575613071000,2019-12-06,11:47:51,India Standard Time,209191392,basant_nayar,Basant Nayar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '209191392', 'username': 'basant_...",0.0
28,1202834519784452096,1202834519784452096,1575613071000,2019-12-06,11:47:51,India Standard Time,12766012,mandarbehere,Mandar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '12766012', 'username': 'mandarbe...",0.0
29,1202834516928126976,1202781379961843714,1575613071000,2019-12-06,11:47:51,India Standard Time,208624890,karthik_58,Karthik Raju,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '208624890', 'username': 'Karthik...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986,1202819777003020288,1202819777003020288,1575609556000,2019-12-06,10:49:16,India Standard Time,1012545576049696768,riteshkonly1,रितेश कुमार शर्मा,0,...,https://twitter.com/PJkanojia/status/120280699...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1012545576049696768', 'username'...",0.0
4987,1202819775270776832,1202819775270776832,1575609556000,2019-12-06,10:49:16,India Standard Time,461841349,zeenewshindi,Zee News Hindi,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '461841349', 'username': 'ZeeNews...",0.0
4988,1202819771286220806,1202819771286220806,1575609555000,2019-12-06,10:49:15,India Standard Time,1174351730953179136,allthingstelang,All Things Telangana™,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1174351730953179136', 'username'...",0.0
4989,1202819769059037186,1202819769059037186,1575609554000,2019-12-06,10:49:14,India Standard Time,2155441267,sunnymali123,Sunny Mali,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2155441267', 'username': 'SunnyM...",0.0
4990,1202819768975163393,1202804728700125184,1575609554000,2019-12-06,10:49:14,India Standard Time,1721214439,saurabhpanday12,saurabh panday,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1721214439', 'username': 'saurab...",0.0
4991,1202819765166694401,1201392644263301120,1575609553000,2019-12-06,10:49:13,India Standard Time,2752842716,patilvaibhav07,patilvaibhav,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2752842716', 'username': 'patilv...",0.0
4992,1202819764462080000,1202819764462080000,1575609553000,2019-12-06,10:49:13,India Standard Time,1496104148,umeshkumar_praj,umesh kumar prajapati,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1496104148', 'username': 'umeshk...",0.0
4993,1202819762394288128,1202819762394288128,1575609553000,2019-12-06,10:49:13,India Standard Time,18071358,zeenews,Zee News,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '18071358', 'username': 'ZeeNews'}]",0.0
4994,1202819761786089472,1202817486292275201,1575609553000,2019-12-06,10:49:13,India Standard Time,1027791551639052289,quicksilver_27,पं. अभिषेक गौतम Pt.AbhisheK GautaM,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1027791551639052289', 'username'...",0.0
4995,1202819757839286274,1202819493690404865,1575609552000,2019-12-06,10:49:12,India Standard Time,1196343866086936577,aadyadeshmukh30,Aadya,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1196343866086936577', 'username'...",0.0
4996,1202819757344317440,1202819757344317440,1575609552000,2019-12-06,10:49:12,India Standard Time,2956337534,ca_ekansh,एकांश(Ekansh) 🐦,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2956337534', 'username': 'ca_eka...",0.0
4997,1202819756610351105,1202819756610351105,1575609551000,2019-12-06,10:49:11,India Standard Time,3109098913,kundankets,रामभक्त कुंदन 💯% (जिहादियों का बाप),0,...,https://twitter.com/kundankets/status/12028157...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '3109098913', 'username': 'kundan...",0.0
4998,1202819755654012929,1202819755654012929,1575609551000,2019-12-06,10:49:11,India Standard Time,2340282530,mahesheka,Manish Mahesheka,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2340282530', 'username': 'mahesh...",0.0
4999,1202819752202100737,1202819752202100737,1575609550000,2019-12-06,10:49:10,India Standard Time,1046302444957761536,phulchul,Politics Hulchul,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1046302444957761536', 'username'...",0.0
5000,1202819748918022145,1202819748918022145,1575609550000,2019-12-06,10:49:10,India Standard Time,838340993455792128,cardiobala,BALASUBRAMANI.N,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '838340993455792128', 'username':...",0.0
5001,1202819742517432320,1202819742517432320,1575609548000,2019-12-06,10:49:08,India Standard Time,147293106,subhash1411,Fight 4 Right,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '147293106', 'username': 'subhash...",0.0
5002,1202819741905113088,1202819741905113088,1575609548000,2019-12-06,10:49:08,India Standard Time,2195910984,roshansaini19,Roshan Saini,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2195910984', 'username': 'Roshan...",0.0
5003,1202819736326696960,1202819736326696960,1575609547000,2019-12-06,10:49:07,India Standard Time,724543587120091137,ramkytranquilla,Ramky Tranquillas,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '724543587120091137', 'username':...",0.0
5004,1202819735953371137,1202776158304997377,1575609547000,2019-12-06,10:49:07,India Standard Time,3157973593,ajitsi1,Ajit Singh,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '3157973593', 'username': 'AjitSi...",0.0
5005,1202819734737051648,1202819734737051648,1575609546000,2019-12-06,10:49:06,India Standard Time,900346289044414464,republic_glitz,R.Glitz,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '900346289044414464', 'username':...",0.0
5006,1202819733642514432,1202819733642514432,1575609546000,2019-12-06,10:49:06,India Standard Time,341517670,gsbhardwaj,Gorv Bhardwaj,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '341517670', 'username': 'GsBhard...",0.0
5007,1202819732279136256,1202819732279136256,1575609546000,2019-12-06,10:49:06,India Standard Time,242273770,rohitpahwarp,Rohit Pahwa,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '242273770', 'username': 'RohitPa...",0.0
5008,1202819728143572993,1202819728143572993,1575609545000,2019-12-06,10:49:05,India Standard Time,1053175820456345600,farazmohammed17,Faraz Mohammed,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1053175820456345600', 'username'...",0.0
5009,1202819725941559296,1202518655986061312,1575609544000,2019-12-06,10:49:04,India Standard Time,1103873620760178688,aswinikumarpad8,Aswini Kumar Padhy,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1103873620760178688', 'username'...",0.0
5010,1202819720828870656,1202819720828870656,1575609543000,2019-12-06,10:49:03,India Standard Time,135070163,krupali5,ramesh bandi,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '135070163', 'username': 'krupali...",0.0
5011,1202819708270997504,1202789023338528770,1575609540000,2019-12-06,10:49:00,India Standard Time,1202457451288657920,annanyagupta6,Annanya Gupta,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1202457451288657920', 'username'...",0.0
5012,1202819708048695296,1202819708048695296,1575609540000,2019-12-06,10:49:00,India Standard Time,501487890,tripathi_neetu,neetu tripathi,0,...,https://twitter.com/TimesNow/status/1202783028...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '501487890', 'username': 'tripath...",0.0
5013,1202819705704271873,1202819705704271873,1575609539000,2019-12-06,10:48:59,India Standard Time,14182050,pinkvilla,Pinkvilla,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '14182050', 'username': 'pinkvill...",0.0
5014,1202819701975334912,1202819701975334912,1575609538000,2019-12-06,10:48:58,India Standard Time,1200282410954289152,iehyderabad,Express Hyderabad,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1200282410954289152', 'username'...",0.0
5015,1202819697420513280,1202819697420513280,1575609537000,2019-12-06,10:48:57,India Standard Time,120095429,witty_ravi,Raviteja Bhavirisetty,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '120095429', 'username': 'witty_r...",0.0

# dataframes basis:-

1 shape = we can get to know details about rows & columns
2 head = it print first 5 rows and columns so that we get the idea of data
3 tail = it will print  last 5 rows and columns
4 columns = it will show columns name
5 max
6 min
7 mean
8 median
9 mode
10 describe= you will get the three quartiles, mean, count, minimum and maximum values and the standard deviation. This is very useful, especially in exploratory data analysis.
11 count =number of values you have in the column.
12 std =standard deviation

In [43]:
data.shape

(5016, 31)

In [45]:
rows,columns=data.shape

In [48]:
columns

31

In [49]:
rows

5016

In [51]:
data.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1202834581860143104,1202834581860143104,1575613086000,2019-12-06,11:48:06,India Standard Time,1072146293009477633,maniish_,Manish,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1072146293009477633', 'username'...",0.0
1,1202834580237148165,1202834580237148165,1575613086000,2019-12-06,11:48:06,India Standard Time,927513257946083329,imtiazmadmood,Imtiaz Mahmood,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '927513257946083329', 'username':...",0.0
2,1202834580236931072,1202834580236931072,1575613086000,2019-12-06,11:48:06,India Standard Time,913819036764463109,lalit_kapuria,Lalit Kapuria Maheshwari,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '913819036764463109', 'username':...",0.0
3,1202834574637748225,1202834574637748225,1575613084000,2019-12-06,11:48:04,India Standard Time,4737280758,eknadaanparinda,Harikrishnan Menon,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '4737280758', 'username': 'EkNada...",0.0
4,1202834572137943040,1202834572137943040,1575613084000,2019-12-06,11:48:04,India Standard Time,2922303132,agroiyasajjan,Sajjan Kumar Agroiya,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2922303132', 'username': 'Agroiy...",0.0

In [57]:
data.tail()
#data.tail(10) it will print last 10 rows and columns

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
5011,1202819708270997504,1202789023338528770,1575609540000,2019-12-06,10:49:00,India Standard Time,1202457451288657920,annanyagupta6,Annanya Gupta,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1202457451288657920', 'username'...",0.0
5012,1202819708048695296,1202819708048695296,1575609540000,2019-12-06,10:49:00,India Standard Time,501487890,tripathi_neetu,neetu tripathi,0,...,https://twitter.com/TimesNow/status/1202783028...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '501487890', 'username': 'tripath...",0.0
5013,1202819705704271873,1202819705704271873,1575609539000,2019-12-06,10:48:59,India Standard Time,14182050,pinkvilla,Pinkvilla,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '14182050', 'username': 'pinkvill...",0.0
5014,1202819701975334912,1202819701975334912,1575609538000,2019-12-06,10:48:58,India Standard Time,1200282410954289152,iehyderabad,Express Hyderabad,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1200282410954289152', 'username'...",0.0
5015,1202819697420513280,1202819697420513280,1575609537000,2019-12-06,10:48:57,India Standard Time,120095429,witty_ravi,Raviteja Bhavirisetty,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '120095429', 'username': 'witty_r...",0.0

In [58]:
data[1000:2000] # it will print from 1000 to 2000 rows

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
1000,1202830916373999616,1202830916373999616,1575612212000,2019-12-06,11:33:32,India Standard Time,1045175078072111105,modernbuddhan,நவீன புத்தன்,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1045175078072111105', 'username'...",0.0
1001,1202830910795632641,1202830910795632641,1575612211000,2019-12-06,11:33:31,India Standard Time,1131515993166032898,deyneelima,Neelima Dey,0,...,https://twitter.com/amritabhinder/status/12028...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1131515993166032898', 'username'...",0.0
1002,1202830910673997824,1202830910673997824,1575612211000,2019-12-06,11:33:31,India Standard Time,2253724069,zlatanp1kachu10,पिकाचु [5:0],0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2253724069', 'username': 'ZLaTaN...",0.0
1003,1202830905577885696,1202830905577885696,1575612210000,2019-12-06,11:33:30,India Standard Time,488344293,manojsai88,Manoj,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '488344293', 'username': 'ManojSa...",0.0
1004,1202830894538428416,1202830894538428416,1575612207000,2019-12-06,11:33:27,India Standard Time,1202818995285442561,satyam_bharat,Satyam Bharat Chaudhary,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1202818995285442561', 'username'...",0.0
1005,1202830891053015040,1202808441095376898,1575612206000,2019-12-06,11:33:26,India Standard Time,168017269,omnimutant,Vipin Kaushik,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '168017269', 'username': 'omnimut...",0.0
1006,1202830887848681472,1202830887848681472,1575612205000,2019-12-06,11:33:25,India Standard Time,862580754030534656,rvismit,Vismit Rakhecha(Druk),0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '862580754030534656', 'username':...",0.0
1007,1202830881724891136,1202811024337846272,1575612204000,2019-12-06,11:33:24,India Standard Time,1091214514010259456,devennimkar,Dev Nimkar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1091214514010259456', 'username'...",0.0
1008,1202830878562344960,1202812500997279745,1575612203000,2019-12-06,11:33:23,India Standard Time,1085505371693707264,djkumar40325167,Dj Kumar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1085505371693707264', 'username'...",0.0
1009,1202830873231388673,1202830873231388673,1575612202000,2019-12-06,11:33:22,India Standard Time,1062017365485879296,thamara25065477,Thamarai Selvi,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1062017365485879296', 'username'...",0.0
1010,1202830872380166144,1202830872380166144,1575612202000,2019-12-06,11:33:22,India Standard Time,44559763,anurag999,Anurag Tripathi,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '44559763', 'username': 'anurag99...",0.0
1011,1202830871515914241,1202808209720741888,1575612201000,2019-12-06,11:33:21,India Standard Time,809855221555990528,manikandaniaf92,Manikandan,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '809855221555990528', 'username':...",0.0
1012,1202830867980115968,1202830867980115968,1575612201000,2019-12-06,11:33:21,India Standard Time,3302058848,riyazakhan,Khan Riyaz,0,...,https://twitter.com/ndtvindia/status/120277564...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '3302058848', 'username': 'RiyazA...",0.0
1013,1202830866369544192,1202830866369544192,1575612200000,2019-12-06,11:33:20,India Standard Time,1202583084777889793,shahnaw16903215,Shahnawaz Khan,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1202583084777889793', 'username'...",0.0
1014,1202830860115791872,1202830860115791872,1575612199000,2019-12-06,11:33:19,India Standard Time,6509832,cnnnews18,News18,0,...,0,1,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '6509832', 'username': 'CNNnews18...",0.0
1015,1202830856986906624,1202830856986906624,1575612198000,2019-12-06,11:33:18,India Standard Time,893504887174057984,jayho_121,Saurabh Tiwari 💯%follow back,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '893504887174057984', 'username':...",0.0
1016,1202830856135397376,1202830856135397376,1575612198000,2019-12-06,11:33:18,India Standard Time,2905917198,baptunandita,kaushik basu,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2905917198', 'username': 'baptun...",0.0
1017,1202830856005357569,1202830856005357569,1575612198000,2019-12-06,11:33:18,India Standard Time,950433580810846209,indu509,Indu B,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '950433580810846209', 'username':...",0.0
1018,1202830849915248640,1202830849915248640,1575612196000,2019-12-06,11:33:16,India Standard Time,745272160004997120,digital_pawan,Pawan Kumar Sharma,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '745272160004997120', 'username':...",0.0
1019,1202830848409526272,1202830848409526272,1575612196000,2019-12-06,11:33:16,India Standard Time,700553605,drdashrath,Dr. Dashrath singh,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '700553605', 'username': 'DrDashr...",0.0
1020,1202830848120123392,1202830848120123392,1575612196000,2019-12-06,11:33:16,India Standard Time,1110964611409285120,npkhachrolia,Narendra Panwar.,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1110964611409285120', 'username'...",0.0
1021,1202830848069980160,1202828005745152000,1575612196000,2019-12-06,11:33:16,India Standard Time,222077484,amitsaxena_,Amit Saxena,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '222077484', 'username': 'amitsax...",0.0
1022,1202830847411249153,1202464800426450944,1575612196000,2019-12-06,11:33:16,India Standard Time,1149904116652503040,neelamr31027007,neelam rawat,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1149904116652503040', 'username'...",0.0
1023,1202830843997229057,1202830843997229057,1575612195000,2019-12-06,11:33:15,India Standard Time,225422879,nasarup_2010,Nasarudheen.P.,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '225422879', 'username': 'nasarup...",0.0
1024,1202830841375645697,1202830841375645697,1575612194000,2019-12-06,11:33:14,India Standard Time,96196010,dalbatidhokla,ronakgoel,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '96196010', 'username': 'dalbatid...",0.0
1025,1202830835704983552,1202830835704983552,1575612193000,2019-12-06,11:33:13,India Standard Time,140412029,arvindshukul,Arvind Garg,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '140412029', 'username': 'ArvindS...",0.0
1026,1202830835184881664,1202830835184881664,1575612193000,2019-12-06,11:33:13,India Standard Time,2908859065,nickkji,nickkji,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2908859065', 'username': 'nickkj...",0.0
1027,1202830832362147850,1202812820066168834,1575612192000,2019-12-06,11:33:12,India Standard Time,979747981699309573,sanjeev42906270,Sanjeev,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '979747981699309573', 'username':...",0.0
1028,1202830831359795200,1202830831359795200,1575612192000,2019-12-06,11:33:12,India Standard Time,1593445345,gobyshankar,GobyShankar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1593445345', 'username': 'gobysh...",0.0
1029,1202830828159422464,1202830828159422464,1575612191000,2019-12-06,11:33:11,India Standard Time,1193054986260729856,pawantripathy4,PAWAN TRIPATHY,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1193054986260729856', 'username'...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,1202827726077382656,1202827726077382656,1575611452000,2019-12-06,11:20:52,India Standard Time,1202564162838122497,hanuman65038416,Hanumant,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1202564162838122497', 'username'...",0.0
1971,1202827723762126849,1202827723762126849,1575611451000,2019-12-06,11:20:51,India Standard Time,924286617115811842,vijaychennuri,Chennuri Vijay,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '924286617115811842', 'username':...",0.0
1972,1202827721480560640,1202827721480560640,1575611450000,2019-12-06,11:20:50,India Standard Time,4342149081,kranti1979,Kranti Singh,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '4342149081', 'username': 'kranti...",0.0
1973,1202827720465321985,1202827720465321985,1575611450000,2019-12-06,11:20:50,India Standard Time,3194025996,ghosharpan17,Arpan Ghosh,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '3194025996', 'username': 'ghoshA...",0.0
1974,1202827715507679232,1202827715507679232,1575611449000,2019-12-06,11:20:49,India Standard Time,4832598591,mahesh2607,Mahesh Shukla,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '4832598591', 'username': 'mahesh...",0.0
1975,1202827714014527488,1202827714014527488,1575611449000,2019-12-06,11:20:49,India Standard Time,160133356,aagamgshah,Aagam Shah,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '160133356', 'username': 'aagamgs...",0.0
1976,1202827708947816449,1202827708947816449,1575611447000,2019-12-06,11:20:47,India Standard Time,915231352458317824,syedshamsheral7,Sayed Shamsher Ali,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '915231352458317824', 'username':...",0.0
1977,1202827708511608833,1202827708511608833,1575611447000,2019-12-06,11:20:47,India Standard Time,1154604574990188544,biggbossss13,Syed Azeem,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1154604574990188544', 'username'...",0.0
1978,1202827704036253697,1202807859647397899,1575611446000,2019-12-06,11:20:46,India Standard Time,99660967,ashishkj,Ashish Kumar Jha,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '99660967', 'username': 'ashishkj...",0.0
1979,1202827700991168513,1202820232244416512,1575611446000,2019-12-06,11:20:46,India Standard Time,920497938937335809,ganeshn9598,Ganesh n,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '920497938937335809', 'username':...",0.0
1980,1202827700114575360,1202827700114575360,1575611445000,2019-12-06,11:20:45,India Standard Time,1025624000662130694,thelokniti,The Lokniti,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1025624000662130694', 'username'...",0.0
1981,1202827696897548289,1202827696897548289,1575611445000,2019-12-06,11:20:45,India Standard Time,569830920,manitofficial,Manit Singh,0,...,https://twitter.com/RubikaLiyaquat/status/1202...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '569830920', 'username': 'ManitOf...",0.0
1982,1202827686210670594,1202827686210670594,1575611442000,2019-12-06,11:20:42,India Standard Time,172097034,goachronicle,GoaChronicle,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '172097034', 'username': 'goachro...",0.0
1983,1202827683077341184,1202827683077341184,1575611441000,2019-12-06,11:20:41,India Standard Time,278664553,charlekilosera,Chuman Kr. Singh,0,...,https://twitter.com/Republic_Bharat/status/120...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '278664553', 'username': 'CharleK...",0.0
1984,1202827681513033729,1202827681513033729,1575611441000,2019-12-06,11:20:41,India Standard Time,1251018655,akchaudhry089,AK,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1251018655', 'username': 'AKCHAU...",0.0
1985,1202827681131200512,1202791145241112576,1575611441000,2019-12-06,11:20:41,India Standard Time,2206912832,oxymarooned,oxymoron,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2206912832', 'username': 'oxymar...",0.0
1986,1202827678656667649,1202827678656667649,1575611440000,2019-12-06,11:20:40,India Standard Time,2556525744,gauraavkadam,Gaurav Kadam ☮️,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2556525744', 'username': 'gauraa...",0.0
1987,1202827678375698434,1202827678375698434,1575611440000,2019-12-06,11:20:40,India Standard Time,2564669954,next9news,next9news,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '2564669954', 'username': 'next9n...",0.0
1988,1202827674806210561,1202827674806210561,1575611439000,2019-12-06,11:20:39,India Standard Time,1198449400185405440,dineshtweetz19,Dinesh Avrum,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1198449400185405440', 'username'...",0.0
1989,1202827673472393216,1202827673472393216,1575611439000,2019-12-06,11:20:39,India Standard Time,1110833129990705152,ichinkiminki,Chinki Minki,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1110833129990705152', 'username'...",0.0
1990,1202827671266181120,1202827671266181120,1575611438000,2019-12-06,11:20:38,India Standard Time,353707051,anujupadhyay6,anuj upadhyay,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '353707051', 'username': 'anujupa...",0.0
1991,1202827670129500164,1202827670129500164,1575611438000,2019-12-06,11:20:38,India Standard Time,75334011,anunayagnihotri,Â Ñ Û Ń Å Ÿ 🚩,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '75334011', 'username': 'AnunayAg...",0.0
1992,1202827668648914944,1202827668648914944,1575611438000,2019-12-06,11:20:38,India Standard Time,1952426491,manifeat9,Manikanta Cheedhella,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1952426491', 'username': 'manife...",0.0
1993,1202827666321108993,1202827666321108993,1575611437000,2019-12-06,11:20:37,India Standard Time,1020186044719697921,aratolikar,Ashwin ratolikar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1020186044719697921', 'username'...",0.0
1994,1202827662529400832,1202827662529400832,1575611436000,2019-12-06,11:20:36,India Standard Time,139014473,rachitst,रचित तिवारी,0,...,https://twitter.com/ARanganathan72/status/1202...,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '139014473', 'username': 'rachits...",0.0
1995,1202827660725866498,1202827660725866498,1575611436000,2019-12-06,11:20:36,India Standard Time,1202161185157550080,rappingvampire,RAPPING VAMPIRE,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1202161185157550080', 'username'...",0.0
1996,1202827659907981312,1202824235283972096,1575611436000,2019-12-06,11:20:36,India Standard Time,793016395550175232,sureshkakkar4,Suresh Kakkar,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '793016395550175232', 'username':...",0.0
1997,1202827658460983296,1202827658460983296,1575611435000,2019-12-06,11:20:35,India Standard Time,1157293209137008641,skabdul41701069,Sk abdulla,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '1157293209137008641', 'username'...",0.0
1998,1202827656754020352,1202827656754020352,1575611435000,2019-12-06,11:20:35,India Standard Time,856031399966629896,vinod_puthran,Vinod Puthran,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '856031399966629896', 'username':...",0.0
1999,1202827652312125442,1202827652312125442,1575611434000,2019-12-06,11:20:34,India Standard Time,462988750,knottycommander,Knotty Commander,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"[{'user_id': '462988750', 'username': 'KnottyC...",0.0

In [64]:
data.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'near', 'geo',
       'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to',
       'retweet_date'],
      dtype='object')

In [73]:
data[['username','tweet']] #it will show only columns of username and tweets

             username                                              tweet
0            maniish_  People celebrating the Hyderabad #Encounter co...
1       imtiazmadmood  Should Kuldeep Asaram ram Rahim Nithyananda Ch...
2       lalit_kapuria  @Manekagandhibjp Hyderabad \nतुम्हरे जैसी सोच ...
3     eknadaanparinda  Hyderabad Police is peak Gangajal and Rohit Sh...
4       agroiyasajjan  What is law and what for it is? Laws are for b...
5     modified_jaya07  जिस देश में न्याय के लिए अदालतों में केस लटकाए...
6      sherasiyatahir  #WATCH Hyderabad: People celebrate and cheer f...
7         bahuvirupak  Hyderabad encounter: All four accused in Telan...
8     lawyers4liberty  Hyderabad case: Police kill suspects in Indian...
9            republic  Hyderabad Horror: Jaya Bachchan reacts on four...
10        parthagubbi  #Copskillrapists: Welldone Hyderabad Police. E...
11       pavan_mandre  What A Good News To Begin The Day !! \n\nALL 4...
12    sidharathsharma  #Hyderabad police took\na Shortcut\n\nShortcut...
13       simonsturdee  Indian police in Hyderabad also shot dead thre...
14         arminiusss  What is difference between UP MLA Sengar and H...
15       utsav_dhiman  Hyderabad police has done their duty. \nNow it...
16      clickvadodara  CV Sajjanar is the Man who led the Encounter o...
17    kotireddyongly1  ‘రాముడి, కృష్ణుడి అవతారాలు ఎత్తాల్సిందే’ - Kai...
18    matrixwakeupneo  Dr. Kavita Singh is consultant psychiatrist to...
19      mohitkumar_cj  Salute to Hyderabad police and waiting to salu...
20    santosh18821537  Libbu- 4 accused in Hyderabad r#pe case have b...
21    sunilcarpente20                            Jai ho Hyderabad police
22    manojku35615146  @narendramodi Hyderabad police ne good kam des...
23          dhroovy27  Good job Hyderabad Police! Well done! \n\nStil...
24       bullaa_gunda  CV Sajjanar is the Man who led the Encounter o...
25        hanselrohit  Finally justice is taken hatts off to hyderaba...
26         samy_sivan  All four accused in Hyderabad vet rape and mur...
27       basant_nayar  A very good and bold step by Hyderabad Police....
28       mandarbehere  Good to see that several on my timeline are no...
29         karthik_58  We need to applaud Hyderabad police for their ...
...               ...                                                ...
4986     riteshkonly1  जनता ऐसे ही जश्न मनाएगी जिस दिन तुम्हारा एनकाउ...
4987     zeenewshindi  सुनिए हैदराबाद गैंगरेप आरोपियों के एनकाउंटर पर...
4988  allthingstelang  #TeluguTwitter #PlanSetHai 🚘\n#హైదరాబాద్ #తెలం...
4989     sunnymali123  @hydcitypolice Great Job done by Hyderabad pol...
4990  saurabhpanday12  Sir .. Take an efficient step to girls protect...
4991   patilvaibhav07  Libbu- 4 accused in Hyderabad r#pe case have b...
4992  umeshkumar_praj  Hyderabad encounter par sawal karne walo ke sa...
4993          zeenews  Hyderabad encounter: People shout 'Telangana P...
4994   quicksilver_27  #The era of Chandrashekhar Azad ji is seen com...
4995  aadyadeshmukh30                       we are with Hyderabad police
4996        ca_ekansh  Real life #Simmba \nShri VC Sajjanar 🙏\nThank ...
4997       kundankets  टुकड़े टुकड़े गैंग JNU, मोमबत्ती गैंग, फिल्मी ...
4998        mahesheka  Was in gym when news broke of all 4 Hyderabad ...
4999         phulchul  Hyderabad गैंगरेप के चारों आरोपियों को Police ...
5000       cardiobala  One good n swift action gains women's thumbs u...
5001      subhash1411  Well Done @hydcitypolice @TelanganaPolice\n\nA...
5002    roshansaini19  What a day to start justice is being served an...
5003  ramkytranquilla  Catch a glimpse of the #RamkyTranquillas proje...
5004          ajitsi1  Why don't you people raised questions on gover...
5005   republic_glitz  Samantha Akkineni, Jr NTR react on the Hyderab...
5006       gsbhardwaj         Hyderabad police Jindabad #hyderabadpolice
5007     rohitpahwarp  Great JUSTICE  Done By hyderabad Police To Rap...
5008  farazmohammed17  Shadnagar Rape case/ #Encounter update..\n@aaj...
5009  aswinikumarpad8  Odisha police should take the step like Hydera...
5010         krupali5  We interested to give some rupees for hyderaba...
5011    annanyagupta6  Is the encounter of the rapists in hyderabad i...
5012   tripathi_neetu  Proud of you Hyderabad Police 🙏 thank you than...
5013        pinkvilla  Hyderabad Rape Case: Allu Arjun, Jr NTR & othe...
5014      iehyderabad  ‘Daugther’s soul at peace now…police did well:...
5015       witty_ravi  Everyone who's cheering the Hyderabad #Encount...

[5016 rows x 2 columns]

In [80]:
type(data)

pandas.core.frame.DataFrame

In [79]:
type(data['name'])

pandas.core.series.Series

In [81]:
data.mean(axis=0)

id                 1.202827e+18
conversation_id    1.202567e+18
created_at         1.575611e+12
user_id            5.223514e+17
replies_count      2.428230e-01
retweets_count     7.448166e-01
likes_count        3.345096e+00
retweet            0.000000e+00
video              2.372408e-02
near               0.000000e+00
geo                0.000000e+00
source             0.000000e+00
user_rt_id         0.000000e+00
user_rt            0.000000e+00
retweet_id         0.000000e+00
retweet_date       0.000000e+00
dtype: float64

In [98]:
data.describe()

,id,conversation_id,created_at,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date
count,5.016000e+03,5.016000e+03,5.016000e+03,5.016000e+03,5016.000000,5016.000000,5016.000000,5016.000000,5016.0,5016.0,5016.0,5016.0,5016.0,5016.0,5016.0
mean,1.202827e+18,1.202567e+18,1.575611e+12,5.223514e+17,0.242823,0.744817,3.345096,0.023724,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,4.243182e+12,7.292717e+15,1.011648e+06,5.204972e+17,1.773081,6.064317,41.511727,0.152203,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.202820e+18,8.006121e+17,1.575610e+12,1.484611e+06,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1.202823e+18,1.202821e+18,1.575610e+12,7.873707e+08,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,1.202826e+18,1.202824e+18,1.575611e+12,7.179430e+17,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,1.202830e+18,1.202829e+18,1.575612e+12,1.064270e+18,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.202835e+18,1.202835e+18,1.575613e+12,1.202833e+18,59.000000,197.000000,2433.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
data['id'].describe() #for particular columns

count    5.016000e+03
mean     1.202827e+18
std      4.243182e+12
min      1.202820e+18
25%      1.202823e+18
50%      1.202826e+18
75%      1.202830e+18
max      1.202835e+18
Name: id, dtype: float64

In [87]:
data['id'].count()

5016